name: schedule job

on:
  schedule:
    - cron: "0 0 * * *"

jobs:
  runs-script:
    runs-on: ubuntu-latest
    steps:
      - name: print message
        run: echo "schedule workflow excuted"
    
    
